<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/style.css"> -->

  <body>
    <div class="app-fuel quotehistory">
      <h2 class="text-center">Fuel Quote History</h2>
      <table class="table table-hover table-bordered">
        <tr>
          <th>Gallons</th>
          <th>Delivery Address</th>
          <th>Delivery Date</th>
          <th>Suggested Price</th>
          <th>Total Amount Due</th>
        </tr>
        <tr>
          <td>10</td>
          <td>123 Home, Houston TX 77077</td>
          <td>02/02/2020</td>
          <td>$2.5</td>
          <td>$25.00</td>
        </tr>
        <tr>
          <td>150</td>
          <td>123 Home, Houston TX 77077</td>
          <td>05/07/2020</td>
          <td>$3.55</td>
          <td>$532.50</td>
        </tr>
        <tr>
          <td>70</td>
          <td>123 Home, Houston TX 77077</td>
          <td>06/20/2020</td>
          <td>$1.54</td>
          <td>$107.80</td>
        </tr>
        <tr>
          <td>44</td>
          <td>123 Home, Houston TX 77077</td>
          <td>09/01/2020</td>
          <td>$4.89</td>
          <td>$215.16</td>
        </tr>
      </table>
    </div>
  </body>
</html>
