<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/public/css/style.css' />
  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="stylee.css">
        <!-- <script defer src="signup-login.js"></script> -->

    </head>
    <body>
        <main id="main-box">
            <h1 id="client-header">Result</h1>
        </main>
    </body>

</html>